Repository mehdiec/tweetoscope_2021_10: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generator_build, collector_build, estimator_build, predictor_build, learner_build, logger_build

generator_build:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/generator -f /Build_Test/Dockerfile.tweetgenerator  .
  - docker push $CI_REGISTRY_IMAGE/generator

collector_build:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/collector -f /Build_Test/Dockerfile.collector .
  - docker push $CI_REGISTRY_IMAGE/collector

estimator_build:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/estimator -f Test_Build/Dockerfile.estimator .
  - docker push $CI_REGISTRY_IMAGE/estimator

predictor_build:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/predictor -f /Build_Test/Dockerfile.predictor .
  - docker push $CI_REGISTRY_IMAGE/predictor

learner_build:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/learner -f /Build_Test/.learner .
  - docker push $CI_REGISTRY_IMAGE/learner

logger_build:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/logger -f /Build_Test/Dockerfile.logger .
  - docker push $CI_REGISTRY_IMAGE/logger

adding pandas install
  Test_Build/Dockerfile.predictor
Due: none

adding seaborn
  Test_Build/Dockerfile.predictor
Due: none

adding import as sklearn
  Test_Build/Dockerfile.predictor
Due: none

fix with RUN
  Test_Build/Dockerfile.predictor
Due: none

fix import
  Test_Build/Dockerfile.predictor
Due: none

adding import scikit-learn as sklearn
  Pipeline_ai/predictor.py
Due: predictor_build

trying import sklearn
  Pipeline_ai/predictor.py
Due: predictor_build

adding logger test 1
  Deployment/minikube-services.yml
Due: none

changing default broker to kafka-service
  Pipeline_ai/logger.py
Due: logger_build

test auto build pipeline
  Pipeline_ai/logger.py
Due: logger_build

test volume logger
  Deployment/minikube-services.yml
Due: none

removing logger app
  Deployment/minikube-services.yml
Due: none

fix deployment without logger
  Deployment/minikube-services.yml
Due: none

change repicas to 2
  Deployment/minikube-services.yml
Due: none

renamed Test_Build into Build
  Build/Dockerfile.estimator
  Build/Dockerfile.learner
  Build/Dockerfile.logger
  Build/Dockerfile.predictor
  Build/Dockerfile.tweetcollector
  Build/Dockerfile.tweetgenerator
  Test_Build/Dockerfile.estimator
  Test_Build/Dockerfile.kafka
  Test_Build/Dockerfile.learner
  Test_Build/Dockerfile.predictor
  Test_Build/Dockerfile.tweetcollector
  Test_Build/Dockerfile.tweetgenerator
Due: none

first try for refactoring
  Pipeline_ai/predictor.py
Due: predictor_build

changing node port of zookeeper from 31181 to 31182
  Deployment/intercell-zookeeper-kafka.yml
Due: none

putting back to 30181
  Deployment/intercell-zookeeper-kafka.yml
Due: none

changing port 30181 to 30190
  Deployment/intercell-zookeeper-kafka.yml
Due: none

changing port to 30081
  Deployment/intercell-zookeeper-kafka.yml
Due: none

changing to port 32010
  Deployment/intercell-zookeeper-kafka.yml
Due: none

fixed issue between predictor and learner
  Pipeline_ai/learner.py
  Pipeline_ai/predictor.py
Due: predictor_build, learner_build

deleted useless files
  Tweet_collection/Tweet_Collector/consumer.cpp
  Tweet_collection/Tweet_Collector/producer.cpp
Due: collector_build

test scaling topic tweet
  Deployment/intercell-zookeeper-kafka.yml
Due: none

test scale 4 partitions in tweets
  Deployment/minikube-zookeeper-kafka.yml
Due: none

created util file for usefull functions
  Pipeline_ai/utils/util.py
Due: none

used classes for predictor
  Pipeline_ai/utils/predictor_utils.py
Due: none

turned functions into methods
  Pipeline_ai/predictor.py
  Pipeline_ai/utils/__init__.py
Due: predictor_build

changing Test_Build to Build
  .gitlab-ci.yml
Due: none

fix
  Pipeline_ai/utils/util.py
Due: none

fix
  Pipeline_ai/predictor.py
Due: predictor_build

adding utils folder
  Build/Dockerfile.predictor
Due: none

adding utils in only changes
  .gitlab-ci.yml
Due: none

test auto build of predictor
  Pipeline_ai/utils/util.py
Due: none

cleaning the test auto build
  Pipeline_ai/utils/util.py
Due: none

readme file
  README.md
Due: none

readme modif
  README.md
Due: none

updated the readme
  README.md
Due: none

final changes
  README.md
Due: none

Path conditions:
  generator_build: any of: Tweet_collection/Tweet_Generator/*
  collector_build: any of: Tweet_collection/Tweet_Collector/*
  estimator_build: any of: Pipeline_ai/Hawks_processes/*, Pipeline_ai/estimator.py
  predictor_build: any of: Pipeline_ai/Hawks_processes/*, Pipeline_ai/predictor.py
  learner_build: any of: Pipeline_ai/Hawks_processes/*, Pipeline_ai/learner.py
  logger_build: any of: Pipeline_ai/logger.py
