Repository mehdiec/tweetoscope_2021_10: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generator_build, collector_build, estimator_build, predictor_build, learner_build, logger_build

generator_build:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/generator -f /Build_Test/Dockerfile.tweetgenerator  .
  - docker push $CI_REGISTRY_IMAGE/generator

collector_build:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/collector -f /Build_Test/Dockerfile.collector .
  - docker push $CI_REGISTRY_IMAGE/collector

estimator_build:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/estimator -f Test_Build/Dockerfile.estimator .
  - docker push $CI_REGISTRY_IMAGE/estimator

predictor_build:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/predictor -f /Build_Test/Dockerfile.predictor .
  - docker push $CI_REGISTRY_IMAGE/predictor

learner_build:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/learner -f /Build_Test/.learner .
  - docker push $CI_REGISTRY_IMAGE/learner

logger_build:
  stage: build_image
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/logger -f /Build_Test/Dockerfile.logger .
  - docker push $CI_REGISTRY_IMAGE/logger

test video
  Pipeline_ai/predictor.py
Due: predictor_build

adding general writing for test
  README.md
Due: none

adding more commands for test
  README.md
Due: none

esthetics
  README.md
Due: none

fix fault tolerance in readMe
  README.md
Due: none

clean the display of shell
  README.md
Due: none

orthograph corerection
  README.md
Due: none

orthographe
  README.md
Due: none

test 2 video
  Pipeline_ai/predictor.py
Due: predictor_build

video repport
  Documentation/rapport_Tweetoscope.pdf
  README.md
Due: none

[~] tweet collection documentation
  Tweet_collection/Tweet_Collector/tweetProcessing.cpp
  Tweet_collection/Tweet_Collector/tweetProcessing.hpp
  Tweet_collection/Tweet_Collector/tweet_collector.cpp
  test.ipynb
Due: collector_build

[+] added docstrings
  Pipeline_ai/Hawks_processes/Models/estimation.py
  Pipeline_ai/Hawks_processes/Models/predict.py
  Pipeline_ai/Hawks_processes/data/cascades.py
  Pipeline_ai/Hawks_processes/data/debug_data.py
  Pipeline_ai/Hawks_processes/plotting/plot.py
  Pipeline_ai/Hawks_processes/utils.py
Due: estimator_build, predictor_build, learner_build

[~] updt
  README.md
Due: none

[~] renamed ci file
  ci.yml
Due: none

[~] moved ci
  .github/workflows/ci.yml
Due: none

Path conditions:
  generator_build: any of: Tweet_collection/Tweet_Generator/*
  collector_build: any of: Tweet_collection/Tweet_Collector/*
  estimator_build: any of: Pipeline_ai/Hawks_processes/*, Pipeline_ai/estimator.py
  predictor_build: any of: Pipeline_ai/Hawks_processes/*, Pipeline_ai/predictor.py
  learner_build: any of: Pipeline_ai/Hawks_processes/*, Pipeline_ai/learner.py
  logger_build: any of: Pipeline_ai/logger.py
